* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --black: #121212;
    --blue: #212B46;
    --white: #FFFFFF;
}

body {
    background: linear-gradient(to bottom, #121212, #212B46);
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 103px;
}