* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --black: #121212;
    --blue: #212B46;
    --white: #FFFFFF;
}

body {
    background: linear-gradient(to bottom, #121212, #212B46);
    height: 100vh;
}

.main {
    width: 100vw;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 400ms ease-in-out;

}

.main.active {
    height: 100vh;
    transition: height 400ms ease-in-out;
}

.main h1 {
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 103px;
    margin-bottom: 35px;
}

.main input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F1F1F1;
    padding-left: 16px;
}

.main input {
    position: relative;
    width: 410px;
}

.input {
    position: relative;
}

.input input {
    height: 48px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
    border-radius: 8px;
}

.main button#submit {
    position: absolute;
    top: 24%;
    right: 10px;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.adress {
    margin: 0 auto;
    width: 588px;
    background: #FFFFFF;
    border-radius: 8px;
    text-align: center;
}

body>section>div>h3 {
    padding: 35px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: var(--black);
}

section>div>p {
    padding: 18px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 8px;
    color: var(--black);
}

section>div>p:last-child {
    padding-bottom: 30px;
}